@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-size: 40px;
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 34px;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
  margin-right: 50px;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #00bbf0;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/

/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 20px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}

.service_section {
  position: relative;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.box .detail-box a {
  color: #00204a;
  font-weight: 600;
}

.box .detail-box a:hover {
  color: #00bbf0;
}

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.btn-box a:hover {
  background-color: #007fa4;
}

.choice_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.catalogue_section{
  background-color: #00204a;
}

.catalogue_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #00204a;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.choice_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 200px;
  min-width: 75px;
  height: 200px;
  margin-bottom: 15px;
}

.catalogue_section .box .img-box {
  background-color: #00204a;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 200px;
  min-width: 75px;
  height: 200px;
  margin-bottom: 15px;
}

.choice_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalogue_section .box .img-box img {
  background-color: #00204a;
  color: #ffffff;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalogue_section .box .detail-box a {
  color: #ffffff;
  font-weight: 600;
}

.catalogue_section .box .detail-box a:hover {
  color: #00bbf0;
}

.btn-boxCatalogue a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-left: 50px;
  margin-right: 35px;
  margin-top: 25px;
}

.btn-boxCatalogue a:hover {
  background-color: #007fa4;
}

.about_section {
  background-color: #00204a;
  color: #ffffff;
}

.about_section .heading_container {
  margin-bottom: 45px;
}

.about_section .row {
 -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .video-box video {
  width: 100%;
}


.about_section .detail-box h3 {
  font-size: 35px;
  font-weight: bold;
}

.about_section .detail-box h4 {
  font-size: 15px;
  font-weight: bold;
}

.about_section .detail-box h5 {
  font-size: 12px;
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 10px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #007fa4;
}


.why_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.why_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #00204a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_section .box .img-box img {
  width: 55px;
  height: auto;
  fill: #00204a;
}

.why_section .box h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.why_section .box p {
  margin-bottom: 0;
}

.why_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.why_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.why_section .btn-box a:hover {
  background-color: #007fa4;
}

/*team section */
.team_section {
  text-align: center;
  background-color: #00204a;
  color: #ffffff;
}

.team_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .team_container {
  padding: 0 15px;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-top: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#002759), to(#002b64));
  background: linear-gradient(to bottom, #002759, #002b64);
}

.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: #00bbf0;
  font-weight: 600;
  position: relative;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #00bbf0;
}

/*team section end*/
/* client section start */
.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box i {
  color: #00204a;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #00204a;
}

/* client section end */
.info_section {
  background-color: #00204a;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #00bbf0;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #00bbf0;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #00bbf0;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #007fa4;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #00204a;
  padding: 20px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */

.mainButtonStyle {
  background-color: #3acaf2;
  color: #ffffff;
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 25px;
}

.mainButtonStyle:hover {
  background-color: #ffffff;
  color: #032e3a;
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 25px;
}

.optionsContainer {
  background-color: #00204a;
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  font-weight: bolder;
}

.optionsContainer button {
  width: 170px; /* Tamaño fijo para los botones */
  height: 60px; /* Altura fija para los botones */
  margin: 5px; /* Espaciado entre botones */
  padding: 0px; /* Espaciado interno dentro del botón */
  overflow: hidden; /* Evita que el contenido desborde */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita que el texto ocupe más de una línea */
  display:inline-block; /* Hace que cada botón sea un bloque, facilitando la alineación */
  text-align: center; /* Centra el texto horizontalmente */
}

.buttonOp1 {
  background-color: #dc0d30;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 15px;
}

.buttonOp1:hover {
  background-color: #850c21;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 15px;
}

.buttonOp2 {
  background-color: #1368ce;
  color: #ffffff;
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 15px;
}

.buttonOp2:hover {
  background-color: #0f3e78;
  color: #ffffff;
  display: inline-block;
  padding: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 15px;
}

.buttonOp3 {
  background-color: #26890c;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 15px;
}

.buttonOp3:hover {
  background-color: #144707;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 15px;
}

.buttonOp4 {
  background-color: #ffa602;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 15px;
}

.buttonOp4:hover {
  background-color: #916108;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 15px;
}

.serviceButton {
  background-color: #00bbf0;
  color: #ffffff;
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 25px;
}

.serviceButton:hover {
  background-color: #00617c;
  color: #ffffff;
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 25px;
}

.correctStyle {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.correctStyle:hover {
  background-color: #2e6b30;
  color: white;
  font-weight: bold;
}

.wrongStyle {
  background-color: #f44336;
  color: white;
  font-weight: bold
}

.wrongStyle:hover {
  background-color: #93221a;
  color: white;
  font-weight: bold
}


.continuePlaying:hover {
  background-color: #43bcdd;
  color: #000000;
  display: none;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 25px;
}

.continuePlaying {
  background-color: #007b9d;
  color: #ffffff;
  display: none;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  font-weight: bolder;

  /*Rounded button*/
  border-radius: 25px;
}

.catalogueBody {
  background-color: #00204a;
  color: #ffffff;
}

.catalogueImage {
  margin: 45px 0;
  width: 240px;
  min-width: 75px;
  height: 240px;
  min-height: 75px;
  margin-bottom: 15px;
  transition: box-shadow .2s, transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.catalogueImage:hover {
  transition: all 1s;
  transform: scale(1.25);
  margin: 45px 0;
  width: 240px;
  min-width: 75px;
  height: 240px;
  min-height: 75px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  box-shadow: 0px 0px 50px rgba(0,0,0,1);
}

.catalogueImage img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */

/* Asegúrate de que .video-box no sea más alto que el video más los controles */
.video-box {
  position: relative;
  width: 100%;
  height: 480px;
  background: #000000;
}

#videoPlayer {
  background-color: black;
  width: 100%;
  height: calc(100% - 80px);
  object-fit: contain;
}

#custom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0);
  z-index: 10; /* Asegúrate de que los controles estén por encima del video */
}

.modos-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* O el espacio que necesites para separarlo de los controles del video */
  text-align: center;
}

#play-pause-button {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  cursor: pointer;
  font-size: 3vw;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

#progress-bar {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #2d5f85;
  cursor: pointer;
  bottom: 40px;
}

#progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #1d87d8;
}

#progress-bar:hover #progress-bar-fill {
  background-color: white;
}

/* Control Button Styles */
.controls-container,
.buttons-container,
.advanced-features-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Asegúrate de que los controles usen todo el ancho disponible */
  max-width: 854px; /* Opcional: para limitar el ancho de los controles */
}

.controls-container.hidden {
  opacity: 0;
  height: 0px;
}


.audio-controller {
  display: flex;
  gap: 10px;
}

#volume-icon,
#rewind-button,
#forward-button,
#play-pause,
#setting_icon,
#subtitles_icon {
  color: white;
  cursor: pointer;
}
#setting_icon,
#subtitles_icon{
  font-size: 20px;
}
#subtitles_icon.fa-closed-captioning.active {
  box-shadow: 0 2px 0 #1d87d8; /* X-offset, Y-offset, blur-radius, color */
}

#play-pause {
  margin-left: 10px;
}

#forward-button {
  padding-left: 10px;
}

.current_time,.totalTime{
  color: white;
}

.popover_container.hidden{
  display: none;
}
.popover_container {
  position: absolute;
  border: 1px solid #2d5f85(0 80% 20%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 45%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 100; /* Asegúrate de que el z-index sea lo suficientemente alto para superponer otros elementos */
  transform: translate(-90%, 0%); /* Ajusta la posición para que aparezca encima del icono */
  bottom: 100%; /* Coloca el borde inferior del popover en la parte superior del icono */
}


.popover_options_card{
  display: flex;
  gap: 10px;
  align-items: center;
}
.popover_options_card i{
  color: white;
}
.popover_options_card button{
  background-color: transparent;
  color: white;
  border: none;
  
}
.popover_selector_container{
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid #2d5f85(0 80% 20%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 100; 
  transform: translate(-90%, 0%); 
  bottom: 100%; 
}
.popover_selector_container button{
  background-color: transparent;
  color: white;
  border: none;
}
.popover_selector_container button:hover{
 border-bottom: 0.5px solid #2d5f85;
}
.popover_selector_container.hidden{
  display: none;
}
.fa-arrow-left{
  color: white;
  cursor: pointer;
}
.button_quality.active{
  box-shadow : 0 2px #1d87d8;
}

.button-speed.active{
  box-shadow : 0 2px #1d87d8;
}
@media (max-width: 768px) {
  .rewind-play-forward-container{
      display: none;
      ;
  }    
  .audio-controller{
      width: 50%;
  }
  #volume-slider{
      width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .rewind-play-forward-container{
      display: none;
  }    
  .audio-controller{
      width: 50%;
  }
  #volume-slider{
      width: 40%;
  }
}

/* ESTILOS PARA LA TERCERA PRACTICA DE TIEMPO REAL E IA */
.divFormSocket {
  border-radius: 25px;
  background-color: #00bbf0;
  align-items: center;
  text-align: center;
  margin: 25px;
  padding: 5px;
}

.formSocket {
  margin: 25px;
  background-color: #ffffff;
  border-radius: 25px;
  width: 60%;
  height: 50px;
  padding-inline-start: 2%;
}

.formSocketUsername {
  margin: 25px;
  background-color: #ffffff;
  border-radius: 25px;
  width: 60%;
  height: 50px;
}

.socketButton {
  background-color: #0f054c;
  color: #ffffff;
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  font-weight: bolder;
  border-radius: 25px;
  max-height: 50px;
}

.messagesContainer {
  border-radius: 12px;
  min-height: 400px;
  max-height: 400px;
  background-color: #00204a;
  align-items: center;
  text-align: center;
  margin: 25px;
  padding: 30px;
  scrollbar-width: 10px;
  scrollbar-width: thin;
  overflow-y: auto;
}

.message-list {
  list-style-type: none; /* Eliminar puntos de la lista */
  padding: 0;
  margin: 0;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  max-width: 80%;
  word-wrap: break-word;
}

.message .username {
  font-weight: bold; /* Poner el nombre de usuario en negrita */
}

.message-left {
  background-color: #9555fd; /* Color de fondo para mensajes de otros usuarios */
  text-align: left;
  margin-top: 15px;
  border-radius: 25px;
}

.message-right {
  background-color: #00bbf0; /* Color de fondo para mis mensajes */
  text-align: right;
  margin-left: auto;
  border-radius: 25px;
  margin-top: 15px;
}

.userList {
  display: flex;
  gap: 10px; /* Espacio entre cuadraditos */
  margin-left: 15px;
}

.userList .user-item {
  background-color: #00204a; /* Color de fondo del cuadradito */
  color: white;
  padding: 10px;
  border-radius: 25px; /* Redondear los bordes para hacer un círculo */
  text-align: center;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.system-message {
  text-align: center;
  text-align: center;
  color: white;
  font-weight: bold;
  background: none !important; /* Eliminar cualquier fondo */
}

.liveChatTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.usersConnected {
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  font-size: 20px;
}